## Las matematicas tras la Regresion Logistica


#### Las tablas de contingencia

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"C:\Users\Asus\Desktop\Datasets\datasets\gender-purchase\Gender Purchase.csv")

In [3]:
df.head()

   Gender Purchase
0  Female      Yes
1  Female      Yes
2  Female       No
3    Male       No
4    Male      Yes

In [4]:
df.shape

(511, 2)

In [5]:
contingency_table = pd.crosstab(df["Gender"],df["Purchase"])

In [6]:
contingency_table

Purchase   No  Yes
Gender
Female    106  159
Male      125  121

In [7]:
contingency_table.sum(axis=1)

Gender
Female    265
Male      246
dtype: int64

In [8]:
contingency_table.sum(axis=0)

Purchase
No     231
Yes    280
dtype: int64

In [9]:
contingency_table.astype("float").div(contingency_table.sum(axis=1), axis=0)

Purchase       No      Yes
Gender
Female    0.40000  0.60000
Male      0.50813  0.49187

## La Probabilidad Condicional

    * Cual es la probabilidad de que un cliente compre un producto sabiendo que es un hombre?
    * Cual es la probabilidad de que sabiendo que un cliente compra un producto sea mujer?

In [10]:
## Numero total de compras realizadas por hombres / Cantidad de hombres
121/246

0.491869918699187

In [13]:
## Numero de compras realizadas por mujeres / numero total de compras
159/280

0.5678571428571428

## Ratio de probabilidades

Cociente entre los casos de exito y los casos de fracaso en el suceso estudiado.

Probabilidad de hacer compra sabiendo que es hombre

Probabilidad de hacer compra sabiendo que es mujer

In [2]:
pm = 121/246
pf = 159/265

odds_m = pm/(1-pm)  #121/125
odds_f = pf/(1-pf)  #159/106

In [3]:
odds_m #PROBABILIDAD DE FRACASO MAYOR QUE EL DE EXITO PORQUE ES MENOR A 1

0.9680000000000002

In [4]:
odds_f   #PROBABILIDAD DE EXITO MAYOR QUE EL DE FRACASO PORQUE ES MAYOR A 1

1.4999999999999998

In [23]:
## El valor del ratio puede ir de 0 a infinito